@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Dancing+Script:wght@500&family=Doto:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Libre+Baskerville&family=Poppins:wght@100;300;400;500;600&family=Rubik+Doodle+Shadow&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
 
    font-style: normal;
}

body {
    background-color: #000000;
    font-family: "inter";

}

@keyframes appear {
    from {
        opacity: 0;
        transform: scale(0.4);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}


a:link,
a:visited,
.head-nav {

    text-decoration: none;

}




.logo-link{
    position: absolute;
    right: 70px;
    top: 40px;
    background-color:rgb(0, 0, 0);;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
svg{
    width: 35px;
    height: 25px;
}


.rec{
  
    width: 100%;
    height: 280px;
  
    background-repeat: no-repeat;
   background-size:cover;
    background-position:center ;
    display: flex;
    justify-content: center;
    align-items: flex-end;

}

#onstage_rec{
    background-image:linear-gradient(0deg, #000000  15% ,#00000032 ), url("../event images/on1.jpg") ;
}

#offstage_rec{
    background-image: linear-gradient(0deg, #000000  15% ,#00000032 ), url("../event images/off.png") ;
}


.cir{
    width: 160px;
    height: 160px;

    border-radius: 50%;
    background-repeat: no-repeat;
    background-size:cover;
    background-position:center ;

    border: #ffffff solid 1px;
    
}

#onstage_cir{
    background-image: url("../event images/on cir1.png") ;
}

#offstage_cir{
    background-image:  url("../event images/off cir1.png") ;
}



.on_off_stage_info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px 40px;
    gap: 20px;
    margin-bottom: 10px;
}


/* 8888888888888888888888888888888888888888888888888 ANIMATION 8888888888888888888888888888888888888888888 */
.she_ru_ev_nav {
width: 70%;
    position: relative;
    display: flex;
    justify-content:space-between;
    margin: 0 auto;
    

}
.she_ru_ev_btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 53px;
  text-transform: uppercase;
    font-size: 20px;
    font-weight: 100;
    color:#ffffff;
    text-decoration: none;
    background-color: transparent;
    font-weight: 300;
    cursor: pointer;
    z-index: 1;
    transition: background-color 0.3s ease;
}

/* Active button with white text */
.she_ru_ev_btn.active {
    color:#000000;
    font-weight: bolder;

}

.background-slide {
    position: absolute;
    top: 6px;
  
    width: 120px;
    height: 40px;
    background-color: #ffffff;

    border-radius: 5px;
    transition: left 0.3s ease; /* Smooth transition */
    z-index: 0;
}

/* 8888888888888888888888888888888888888888888888888 ANIMATION 8888888888888888888888888888888888888888888 */





.on_off_stage_info h1{
    color: #ebebeb;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 800;
}

.on_off_stage_info p{
    color: #ffffff;
    font-size: 18px;
    margin: 0 auto;
    width:  70%;
}

.line{
    height: .5px;
    background-color:#D9D9D970;
    width: 70%;
    margin: 20px auto;
    
}



#twodiv {
    display: grid;
    gap: 1rem; /* Space between items */
    grid-template-columns: repeat(4, 1fr); /* Always 4 columns per row */
    padding: 10px 0px;
    padding-left: 50px;
 
}

/* Styling for event cards */
.events {
  
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: top; 
    color: #fff;
    max-width:300px;
    max-height: 350px; 
    aspect-ratio: 1 / 1; 
    border-radius: 15px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    border: #ffffff solid 1px;
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;
}
.events h1{
/* margin-top: 140px; */
position: absolute;
bottom: 30px;
text-transform: uppercase;
color: #F87711;
}


#photo_img{
    background-image: linear-gradient(0deg, #000000  15% ,#00000032 ), url("../event images/photo.jpeg") ;

}

#debugging_img{
    background-image: linear-gradient(0deg, #000000  15% ,#00000032 ), url("../event images/debug.jpg") ;

}

#web_design_img{
    background-image: linear-gradient(0deg, #000000  15% ,#00000032 ), url("../event images/web.jpg") ;
    background-position: top; 
}

#logo_design_img{
    background-image: linear-gradient(0deg, #000000  15% ,#00000032 ), url("../event images/logoo.png") ;

}

#ipl_img{
    background-image: linear-gradient(0deg, #000000  15% ,#00000032 ), url("../event images/ipl.jpg") ;

}

#potpourri_img{
    background-image: linear-gradient(0deg, #000000  15% ,#00000032 ), url("../event images/pot.jpg") ;

}

#poster_img{
    background-image: linear-gradient(0deg, #000000  15% ,#00000032 ), url("../event images/post.png") ;

}

#code_img{
    background-image: linear-gradient(0deg, #000000  15% ,#00000032 ), url("../event images/code.jpg") ;

}


#channel_surfing_img{
    background-image: linear-gradient(0deg, #000000  15% ,#00000032 ), url("../event images/channel.jpeg") ;
    background-position:center; 
}
#voxment_img{
    background-image: linear-gradient(0deg, #000000  15% ,#00000032 ), url("../event images/vox.jpg") ;

}

#paper_img{
    background-image: linear-gradient(0deg, #000000  15% ,#00000032 ), url("../event images/paper.jpg") ;

}

#Shipwreck_img{
    background-image: linear-gradient(0deg, #000000  15% ,#00000032 ), url("../event images/shipwreck.jpeg") ;

}

#adzap_img{
    background-image: linear-gradient(0deg, #000000  15% ,#00000032 ), url("../event images/add.png") ;
    background-position:top; 
}

#techy_walk_img{
    background-image: linear-gradient(0deg, #000000  15% ,#00000032 ), url("../event images/walk.JPG") ;

}







.empty{
    width: 100%;
    height: 200px;
}


/* ************************************************************************************************************************ */



.schedules_container {
    display: flex;
    width: 80%;
    margin: 30px auto;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: #fff;
    gap: 10px;
}

.each_schedule {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 20%;
    width: 70%;
    margin: 0 ;
    margin-left:58% ;
    margin-right:42% ;
    position: relative;
    box-sizing: border-box; /* Ensure padding is accounted for in width/height */
    min-height: calc(100px + 12vh);
}

.schedule_time h1 {
    color: #fff;
    font-size: 32px;
    font-weight: 300;
    white-space: nowrap; /* Prevent the time from wrapping */
    width: 70px;
}

.timeline {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    gap: 5px;
}

.timeline_circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #F87711;
}

.timeline_line {
    width: 3px;
    background-color: #D9D9D970;
    flex-grow: 1; 
}

.schedule_details {
    display: flex;
    flex-direction: column;
    font-weight: 400;
    width: 100%; 
    word-wrap: break-word; 
    overflow-wrap: break-word;
    box-sizing: border-box; 
}

.schedule_details_line {
    width: 70%;
    height: 2px;
    background-color: #fff;
    margin: 5px 0 10px;
}

.schedule_details h1 {
    font-size: 25px;
    color: #F87711;
}

.schedule_details h2 {
    font-weight: 400;
    font-size: 20px;
}


/* ____________________________________________________________________________________________________________________________ */




.rule_detail{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    gap: 50px;
    color: #ffffff;
}

.rule_detail_h1{
color: #F87711;
    font-size: 30px;
    text-transform: uppercase;
}
.general_event_gules_div{
width: 80%;
height: fit-content;
background-color: #d9d9d91b;
padding: 50px 40px ;
font-size: 22px;
border: #FFF6F6 solid 1px;
border-radius: 5px;

}


.general_event_gules_div span{
    color: #F87711;
}


/* 7777777777777777777777777777777777777777777777777777777777777777777777777777 */









#threediv {
    display: none;

}


#onediv {
    display: none;

}
/* Show the active div */
#onediv.active,
#threediv.active {
    display: flex;
}

#twodiv.active{
    display: grid;
}

/* Ensure non-active divs are hidden */
#onediv:not(.active),
#twodiv:not(.active),
#threediv:not(.active) {
    display: none;
}



@media (max-width: 1024px) {
    #twodiv {
        grid-template-columns: repeat(3, 1fr); /* 3 columns per row */
    }

 
}

@media (max-width: 768px) {


    a:focus,
    a:active {
        outline: none; 
        border: none; 
    }
    
    a {
        -webkit-tap-highlight-color: transparent; 
    }

    .logo-link{
        position: absolute;
        right: 40px;
        top: 40px;
        width: 30px;
        height: 30px;
    }


    svg{
   
        width: 20px;
        height: 20px;
       
    }
    

.rec{
  
    height: 190px;
    
    background-image: linear-gradient(0deg, #000000  0% ,  #000000  20% ,#00000032 ), url("event images/che.jpeg") ;

}

.cir{
    width: 100px;
    height: 100px;

}


.on_off_stage_info{

    padding: 20px 40px;
    padding-top: 10px;
    gap: 15px;
   
}

.she_ru_ev_nav{

/* gap: 40px; */
width: 86%;
}

.she_ru_ev_btn {


    width: 80px;;
    height: 53px;
    padding: 10px 20px;
    font-size: 14px;
   
    text-decoration: none;
    background-color: #342b2b00;
    border-radius: 5px;
 
   


}

.she_ru_ev_btn.active {
  
    font-weight: 600;

}


.on_off_stage_info h1{
    
    font-size: 20px;
}

.on_off_stage_info p{

    font-size: 10px;
    width:  90%;
}



#twodiv {

    grid-template-columns: repeat(2, 1fr); /* 2 columns per row */
    padding: 10px 30px;
}

.line{

    width: 90%;
    margin: 10px auto;
    
}

.background-slide {

    width: 80px;
    height: 40px;
    

}



/* Styling for event cards */
.events {
  

    animation: appear linear;
    animation-timeline: view();
    animation-range: entry -40vh cover 35%;
   
}

.events h1{

    position: absolute;
    bottom: 15px;
  font-size: 14px ;
    }
    

/* 88888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888 */


.schedules_container{
   
     
        gap: 5px;
    }
    
    .each_schedule{
        gap: 15%;
      width: 90%;
       min-height: calc(120px + 6vh );    
      
      margin: 0 auto ;

    }
    
    .schedule_time h1{
  
        font-size: 16px;
    }
    
  
    
    .timeline_circle{
        width: 15px;
        height: 15px;

    }
    
    .timeline_line{
        width: .009rem;
        
        height: 90%;
    }
    

    
    .schedule_details_line{
        width: 90%;
        height: 1px;
     
    
        margin :5px 0 10px ;
    }
    
    .schedule_details h1{
        font-size: 15px ;
        
    }
    .schedule_details h2 {
      
    font-size: 15px;
    }




/* 8888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888 */



.rule_detail{

    margin-top: 30px;
    gap: 30px;
}




.rule_detail_h1{

    font-size: 25px;
}
    


.general_event_gules_div{
 
    padding: 35px 40px ;
    font-size: 14px;
    
    }








/* 555555555555555555555555555555555555555555555555555555555 */





#threediv {
    display: none;

}


#onediv {
    display: none;

}

/* Show the active div */
#onediv.active,
#threediv.active {
    display: flex;
}

#twodiv.active{
    display: grid;
}

/* Ensure non-active divs are hidden */
#onediv:not(.active),
#twodiv:not(.active),
#threediv:not(.active) {
    display: none;
}


    
}
